<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StormSteer</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/home">
            <!-- StormSteer Logo -->
            <img src="static/weblogo.png">
            <div class="input-box">
                <input type="text" name="phoneNumber" placeholder="Phone" required pattern="04\d{8}" title="Please enter a valid phone number" autocomplete="off">
                <i class='bx bxs-phone'></i>
            </div>
            <button type="submit" class="btn">Continue</button>
            <div class="register-link">
                <p>New to Storm Steer? <a href="#">Transparency and Safety</a></p>
            </div>
        </form>
    </div>
</body>
</html>